.form-group
  display: flex
  margin: 0 auto
  padding: 0.5em 0.5em 0.5em 0.5em
  width: 18em
  .form-control
    width: 368px
    height: 55px


.form-group-button
  position: relative
  float: right

.grow1 
	flex-grow: 1;

.form-btn
  position: absolute;
  width: 118.31px
  height: 47px
  left: 30em
  background-color: #A6C1D2
  border-radius: 4px
  transition: 1s
  &:hover
    background-color: #16D08D 
  // top: 599px

.btn-txt
  font-family: SVN-Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;

.label-radio
  font-family: SVN-Gilroy;
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 15px
  padding: 1px 1px 4px;

.form-radio
  position: relative
  width: 24px
  height: 24px
  top: 5px
  left: -5 px
  background: #FFFFFF
  border: 2px solid #BFDAEB
  box-sizing: border-box
  border-radius: 5px

.row {
	flex-direction: row;
}

.form
  display:inline
  height: 20em
  margin: 1.5em 0.5em 0.5em
  max-width: 100%
  .btn
    width: 23.5rem
    background: #1ad18f
    border-radius: 5px
    font-family: SVN-Gilroy
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 17px
    padding: 0
    margin: 0 auto

.item
  flex: 1
  // margin: 5px
  // padding: 0 10px
  // text-align: center

.column
  flex-direction: column
  align-items: flex-start