blue=#2693FF
white=#FFFFFF


strong
  color: white
#nav
  background: blue
  height: 100vh
  width: 624px
  .section
    position: absolute
    max-width:400px
    margin: 0 auto
    display: flex
  .column
    flex-direction: row
    .item
      position relative
      flex: 1
      margin:5px
      text-align: center;
    .spanFacilita
      position: relative
      left: 128px
      top: 28rem
      font-size:48px
      line-height: 50px
    .people
      position: relative
      font-size: 16px
      line-height: 17px
      position: relative
      left: 128px
      top: 31.2rem
    .mr
      margin-right: -10px


  span
    font-family: SVN-Gilroy
    font-style: normal
    font-weight: normal
    color: white
  .Icon
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    top: 35.26%;
    right: 85.73%;
    left: 8.42%;
    bottom: 49.2%;
    width: 8%;
    height: 15%;
    background: url('../assets/Layer.png') center center
    background-size: cover
    z-index: 1
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    .IconVerify
      position: absolute
      top: 8%;
      left: 71%;
      width: 44.41px;
      height: 32.36px;
      background: url('../assets/min-logo-verify.png') center center
      background-size: cover
      z-index: 2



@media only screen and (min-width: 700px) and (max-width: 1239px)
  #nav
    height: 100vh
    width: 624px
  .Icon
    max-width: 100%
    @media only screen and (min-width: 700px) and (max-width: 900px)
      width: 12% !important
    @media only screen and (min-width: 900px) and (max-width: 1000px)
      width: 12% !important
      left: 15% !important;
    width: 8% !important
    max-height: 100%
    left: 8.45rem !important
    top: 36% !important
    background: url('../assets/Layer.png') center center
    background-size: cover
    z-index: 1
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    .IconVerify
      position: absolute
      top: 8%;
      left: 71%;
      width: 44.41px;
      height: 32.36px;
      background: url('../assets/min-logo-verify.png') center center
      background-size: cover
      z-index: 2


@media only screen and (max-width: 625px)
  #nav
    height: 100vh
    width: 624px
    .section
      position: absolute
      max-width:400px
      margin: 0 auto
      display: flex
    .column
      flex-direction: column
      .item
        position relative
        flex: 1
        margin:5px
        text-align: center;
      .spanFacilita
        position: relative
        left: 1%
        top: 29.5rem
        font-size: 30px
        line-height: 24px
      .people
        font-size: 16px;
        line-height: 17px;
        position: relative;
        left: 0px;
        top: 33.2rem;
        width: 140px;
      .mr
        margin-right: -10px


  span
    font-family: SVN-Gilroy
    font-style: normal
    font-weight: normal
    color: white
  .Icon
    max-width: 100%
    width: 20% !important
    max-height: 100%
    left: 0.45rem!important
    top: 36% !important
    background: url('../assets/Layer.png') center center
    background-size: cover
    z-index: 1
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    .IconVerify
      position: absolute
      top: 8%;
      left: 71%;
      width: 44.41px;
      height: 32.36px;
      background: url('../assets/min-logo-verify.png') center center
      background-size: cover
      z-index: 2

@media only screen and (min-width: 626px) and (max-width: 800px)
  #nav
    height: 100vh
    width: 624px
    .section
      position: absolute
      max-width:400px
      margin: 0 auto
      display: flex
    .column
      flex-direction: row
      .item
        position relative
        flex: 1
        margin:5px
        text-align: center;
      .spanFacilita
        position: relative
        left: 31%
        top: 28.5rem
        font-size: 30px
        line-height: 24px
      .people
        font-size: 16px;
        line-height: 17px;
        position: relative;
        left: 65px;
        top: 30.5rem;
        width: 140px;
      .mr
        margin-right: -5px


  span
    font-family: SVN-Gilroy
    font-style: normal
    font-weight: normal
    color: white
  .Icon
    max-width: 100%
    width: 15% !important
    max-height: 100%
    left: 4.45rem!important
    top: 36% !important
    background: url('../assets/Layer.png') center center
    background-size: cover
    z-index: 1
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    .IconVerify
      position: absolute
      top: 8%;
      left: 71%;
      width: 44.41px;
      height: 32.36px;
      background: url('../assets/min-logo-verify.png') center center
      background-size: cover
      z-index: 2


@media only screen and (min-width: 1240px) and (max-width: 1544px)
  #nav
    height: 100vh
    width: 624px
    .section
      position: absolute
      max-width:400px
      margin: 0 auto
      display: flex
    .column
      flex-direction: row
      .item
        position relative
        flex: 1
        margin:5px
        text-align: center;
      .spanFacilita
        position: relative
        left: 128px
        top: 28rem
        font-size:48px
        line-height: 50px
      .people
        position: relative
        font-size: 16px
        line-height: 17px
        position: relative
        left: 128px
        top: 31.2rem
      .mr
        margin-right: -10px


  span
    font-family: SVN-Gilroy
    font-style: normal
    font-weight: normal
    color: white
  .Icon
    max-width: 100%
    width: 7% !important
    max-height: 100%
    left: 8.25rem !important
    top: 36% !important
    background: url('../assets/Layer.png') center center
    background-size: cover
    z-index: 1
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    .IconVerify
      position: absolute
      top: 8%;
      left: 71%;
      width: 44.41px;
      height: 32.36px;
      background: url('../assets/min-logo-verify.png') center center
      background-size: cover
      z-index: 2

@media only screen and (min-width: 1545px) and (max-width: 1740px)
  #nav
    height: 100vh
    width: 624px
    .section
      position: absolute
      max-width:400px
      margin: 0 auto
      display: flex
    .column
      flex-direction: row
      .item
        position relative
        flex: 1
        margin:5px
        text-align: center;
      .spanFacilita
        position: relative
        left: 128px
        top: 28rem
        font-size:48px
        line-height: 50px
      .people
        position: relative
        font-size: 16px
        line-height: 17px
        position: relative
        left: 128px
        top: 31.2rem
      .mr
        margin-right: -10px


  span
    font-family: SVN-Gilroy
    font-style: normal
    font-weight: normal
    color: white
  .Icon
    max-width: 100%
    @media only screen and (min-width: 1545px) and (max-width: 1690px)
      width: 6% !important
      top: 36% !important
    max-height: 100%
    left: 8.15rem !important
    top: 35.96% !important
    background: url('../assets/Layer.png') center center
    background-size: cover
    z-index: 1
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    .IconVerify
      position: absolute
      top: 8%;
      left: 71%;
      width: 44.41px;
      height: 32.36px;
      background: url('../assets/min-logo-verify.png') center center
      background-size: cover
      z-index: 2


@media only screen and (min-width: 1741px) and (max-width: 1921px)
  #nav
    height: 100vh
    width: 624px
    .section
      position: absolute
      max-width:400px
      margin: 0 auto
      display: flex
    .column
      flex-direction: row
      .item
        position relative
        flex: 1
        margin:5px
        text-align: center;
      .spanFacilita
        position: relative
        left: 128px
        top: 28rem
        font-size:48px
        line-height: 50px
      .people
        position: relative
        font-size: 16px
        line-height: 17px
        position: relative
        left: 128px
        top: 31.2rem
      .mr
        margin-right: -10px


  span
    font-family: SVN-Gilroy
    font-style: normal
    font-weight: normal
    color: white
  .Icon
    max-width: 100%
    width: 5% !important
    max-height: 100%
    left: 8.15rem !important
    top: 35.96% !important
    background: url('../assets/Layer.png') center center
    background-size: cover
    z-index: 1
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    .IconVerify
      position: absolute
      top: 8%;
      left: 71%;
      width: 44.41px;
      height: 32.36px;
      background: url('../assets/min-logo-verify.png') center center
      background-size: cover
      z-index: 2